
im-proc/bcl-basis/a\.ppm

im-proc/bcl-basis/b\.ppm

im-proc/bcl-basis/c\.ppm

im-proc/bcl-basis/d\.ppm

im-proc/bcl-basis/extract-subimage

im-proc/bcl-basis/newlena\.ppm

im-proc/bcl-basis/test-bcl

*.o

*.ppm

im-proc/fourier/test-fft

.vs/
