
im-proc/bcl-basis/a\.ppm

im-proc/bcl-basis/b\.ppm

im-proc/bcl-basis/c\.ppm

im-proc/bcl-basis/d\.ppm

im-proc/bcl-basis/extract-subimage

im-proc/bcl-basis/newlena\.ppm

im-proc/bcl-basis/test-bcl

*.o

*.ppm

im-proc/fourier/test-fft

.vs/

*.gz

im-proc/zoom/filter

im-proc/zoom/copy

im-proc/zoom/test_modif

im-proc/zoom/test_rotated

im-proc/zoom/padding

im-proc/color-transfer/color-transfer
